.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 900;
  font-style: normal;
}


html {
    font-family:Verdana, sans-serif;
    background-image: url('/assets/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    align-items: center;
    justify-items: center;
}

h1 {
    font-family: "Titan One", sans-serif;
    text-align: center;
    width: 100%;
    font-size: 5em;
    letter-spacing: 3%;
}

.score {
    font-size: 20px;
    font-weight: bold;
    border: 2px black;
    padding: 10px, 50px;
    text-transform: uppercase;
    margin-left: 20%;
}

.timer {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
}

#scoreBox {
    border: 2px black;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
    margin-left: 20px;
    padding-left: 10px;
}

.gameBoard {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    width: 95%;
    max-width: 800px;
    margin: 30px auto; 
}

.cards {
    width: 120px;
    height: 120px;
    perspective: 1000px;
    cursor: pointer;
    position: relative; /* Add this to anchor the absolute children */
    transition: transform 0.2s;
}

.cardPosition {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}

.flipped .cardPosition {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border: 4px solid white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cardFront {
    background-image: url('assets/backCard.jpg');
    background-size: 180%; 
}

.cardBack{
   background-image: url('assets/Cats.jpeg');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}


.cards:hover {
    transform: scale(1.05);
}

.cards:hover .cardFront, 
.cards:hover .cardBack {
    
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

