html {
    font-family: sans-serif;
    background-color: rgb(160, 220, 201);
    align-items: center;
    justify-items: center;
}

h1 {
    font-family: fantasy;
    text-align: center;
    width: 100%;
    font-size: 35px;
}

.score {
    font-size: 20px;
    font-weight: bold;
    border: 2px black;
    padding: 10px, 50px;
    text-transform: uppercase;
    margin-left: 20%;
}

#scoreBox {
    border: 2px black;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
    margin-left: 20px;
}

.gameBoard {
    width: 80vw;
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    margin-top: 30px;
}

.cards {

    background-image: url(assets/backCard.jpg);
    background-size: 800%;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: grid;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    Border: solid 6px white;
}